body {
  font-size: .875rem;
  background-color: #ecf0f5;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar .nav-item {
  background-color: transparent;
  margin: 0 10px;
}

.sidebar .nav-item:hover {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 3px;
}

.sidebar .active a {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 3px;
  color: white;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

a, button.close {
  outline: none;
}

.align-center {
  text-align: center !important;
}

#graph {
  height: 250px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.counter-buttons {
  position: absolute;
  right: 17px;
}

.my-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  color: white;
  background-color: rgba(255, 255, 255, .1);
}

.my-select option {
  color: gray;
}

.my-select:focus {
  box-shadow: none;
}

.avatar {
  border: 1px solid #eee;
  border-radius: 50%;
  margin-top: -3px;
  margin-right: 5px;
}

.table-container{
  background-color: white;
  padding: 10px;
  border-radius: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.aslink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.notlink:hover {
  text-decoration: none;
}

.light-text {
  color: darkgray;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.dark-text {
  color: dimgray;
}

.navbar-links {
  position: relative;
  color: #eee;
  padding: .8rem 1rem;
  font-size: 1rem;
}

.navbar-links:hover {
  color: white;
  background-color: rgba(0, 0, 0, .15);
}

#backToTopButton {
  display: none;
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: .5rem 0 0 0;
  z-index: 99;
}

input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray;
}

input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: lightgray;
}

.dropdown .dropbtn {
  border: none;
  color: white;
  margin: 0;
  padding: .75rem 1rem;
  font-size: 1rem;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  background-color: rgba(0, 0, 0, .15);
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  text-align: left;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.label {
  position: absolute;
  right: 0;
  text-align: center;
  font-size: 8px;
  padding: 2px 3px;
  line-height: .9;
  display: inline;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-success {
    background-color: #5cb85c;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger {
    background-color: #d9534f;
}

.myth {
  color: #212529;
  display: block;
  margin: -.75rem;
  padding: .75rem;
}

.myth:hover {
  color: #212529;
  text-decoration: none;
}

.card, .box-shadow {
  border: 0;
  box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
}

@media screen and (max-width: 766px) {
  .sticky-top {
    position: inherit;
  }
}